---
layout: default
title: Attributions
---
<h1>Attributions</h1>
<p>
<ul>
  <li>The “Sponsorship” symbol used on the front page is made by Dima Yagnyuk, from
    <a href="http://thenounproject.com/">The Noun Project</a> collection.
  <li>The icon <a href="http://thenounproject.com/noun/date-and-time/#icon-No9143"
    target="_blank">Date and Time</a> is designed by <a
    href="http://thenounproject.com/iconify" target="_blank">Scott Lewis</a> from
    The Noun Project.
  <li>More information about the accessibility icons:
    <a href="http://signsanddisplays.wordpress.com/2011/03/06/disability-access-sign-symbols-for-download/">http://signsanddisplays.wordpress.com/2011/03/06/disability-access-sign-symbols-for-download/</a>
  <li>Photos by Ein Andersson
</ul>
</p>
