---
layout: default
title: Contact us
---
<h1>Contact us</h1>
<br/>
<span class="subtitle">Free Society Conference and Nordic Summit</span>

<h2>Email</h2>

<p>For questions related to the conference, program, payment or registration
please contact <a href="mailto:info@fscons.org">info@fscons.org</a>.

<h2>IRC</h2>

Join us at <a href="irc://irc.freenode.net/fscons">#fscons</a> on the <a href="https://freenode.net/">freenode IRC network</a>.

<h2>Social networks</h2>

<p>You may also want to follow us on
<a href="http://identi.ca/fscons">Identi.ca</a> (preferred) or
<a href="http://twitter.com/fscons">Twitter</a> (which replicates Identi.ca) and
please check our <a href="$blog$">blog</a> for updates and
announcements.

