---
layout: default
title: Registrater
---
<h2>Register for FSCONS 2014</h2>

<div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=13159591693&ref=etckt" frameborder="0" height="516" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/fscons-2014-registration-13159591693?ref=etckt">FSCONS 2014</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

<h3>What if I don't want to use PayPal?</h3>

We also accept bank transfer (Plusgiro, Bankgiro and IBAN) Contact us at
<a href="mailto:info@fscons.org">info@fscons.org</a>.
