---
layout: default
title: Sponsors 
---
<h1>Sponsors</h1>
<br/>
<p>
  FSCONS sponsors and media partners will be listed here.
  If you want to sponsor us, please visit our
  <a href="sponsorships.html">sponsorship page</a> where you'll find
  terms and conditions, as well as contact information and information
  on previous sponsors.
</p>

<h3>Sponsors</h3>
<div class="row">
  <div class ="col-md-8">
    <a class="thumbnail" href="http://www.gu.se">
      <img src="images/logo-gu.png" alt="University of Gothenburg"/>
    </a>
  </div>
  <div class="col-md-8">
    <a class="thumbnail" href="http://www.friprogramvarusyndikatet.se/">
      <img src="images/friprogramvarusyndikatet.png" alt="Friprogramvarusyndikatet"/>
    </a>
  </div>
   <div class="col-md-8">
     <a class="thumbnail" href="http://srvolda.no/">
       <img src="images/srvolda.png" alt="SR Volda"/>
     </a>
   </div>
</div>

<h3>Partners</h3>
<div class="row">
  <div class="col-md-3">
    <a class="thumbnail" href="http://www.linux-magazine.com/">
      <img height="60px" src="images/linux_magazine.png" alt="Linux magazine logo"/>
    </a>
  </div>
   <div class="col-md-3">
     <a class="thumbnail" href="http://www.studieframjandet.se/">
       <img src="images/studieframjandet.se.png" alt="Studiefrämjandet"/>
     </a>
   </div>
   <div class="col-md-3">
     <a class="thumbnail" href="http://www.ggsdata.se/">
       <img src="images/ggs-small.png" alt="ggs-data"/>
     </a>
   </div>
</div>
