---
layout: default
title: Become a sponsor 
---
<h1>Become a sponsor</h1>
<span class="subtitle"></span>

<p>There are many ways to sponsor FSCONS: signing up for one of
the sponsorship deals below, buying business tickets for your employees,
or giving a cash donation at the time you buy your own ticket for
the conference. You can also consider sponsoring with technology or services.</p>

<h2>Sponsorship deals</h2>

<h3>Bronze / Patron 5500 SEK</h3>
<ul>
  <li>Your name and logo in the program booklet</li>
  <li>Your name and logo in the sponsorship section of the web site</li>
  <li>One free admission to the conference</li>
  <li>Space in the lounge area to place brochures</li>
</ul>
<h3>Silver / Supporting 11000 SEK</h3>
<p>Same as Bronze plus:
<ul>
  <li>and One additional free admissions (total of 2)</li>
  <li>Your name and logo also on the registration page</li>
  <li>Space in a shared booth to present your organisation</li>
</ul>
<h3>Gold / Associate 22000 SEK</h3>
<p>Same as Silver plus;
<ul>
  <li>Two additional free admissions (total of 4)</li>
  <li>Ability to include information/material in a bag given to participants</li>        
  <li>Your name and logo on the program page</li>
  <li>Space for a booth to present your organisation</li>
</ul>
<h3>Platinum / Executive 44000 SEK</h3>
<p>Same as Gold, plus:</p>
<ul>
  <li>Four additional free admissions (total of 8)</li>
  <li>Space for a rollup in the conference venue main hall</li>
</ul>
<h3>Media partner</h3>

<p> If you are a publication or media outlet, you are welcome to contact us with any proposal for partnering with FSCONS. We are open for suggestions and have                  previously partnered with several magazines.</p> 

<h3>Current sponsors</h3>

<p>On our <a href="sponsors.html"> sponsors page</a>, you can see who are currently sponsoring FSCONS {{ site.year }}.</p>
