---
layout: news_layout
title: New venue
author: The FSCONS team
status: publish
type: post
published: true
---
<p>For those of you who have attended FSCONS in the past know that every
edition have taken place at the IT University campus at Lindholmen which is
located at the Hisingen island. This year however we are excited to report that
FSCONS 2013 is going to take place at the Humanisten building at near the city
centre. Humanisten belongs to humanities department of Gothenburg University
where the fine arts are studied, which makes it a good fit for FSCONS.</p>

<img src="$baseurl$/images/goteborgs_Universitet_Humanisten.jpg"
      alt="The Humanisten building"/>

<p>Humanisten is located in a beautiful environment surrounded by gardens, even
though you might have a hard time notice any of the plants in November. It lies
in the very centre of Gothenburg, within 10 minute walking distance of
Korsvägen, a large junction and tram stop. This makes it very accessibly by
public transportation on all hours of the day.</p>

<img src="$baseurl$/images/320px-Korsvagen_Goteborg.jpg"
      alt="The Korsvägen juciton"/>

<p>We look forward to meeting you at Humanisten in November!</p>
