---
layout: news_layout
title: Poster
author: The FSCONS team
status: publish
type: post
published: true
---
<p>A new edition of FSCONS also means a new poster. 
There is a good chance that you will spot it if you live in Gothenburg. Without further ado, here it is!
</p>
<br>
<h1 align="center"><img src="$baseurl$/images/fscons_poster2013.png"
alt="FSCONS 2013 poster"/></h1>
<br>
<p1>
Everyone is encouraged to download a <a href="$baseurl$/images/fscons_poster2013.pdf">PDF copy</a>, print it and post it at places where people who could be interested in FSCONS might spot it. </p>

