

@import "bootstrap/variables.less";

// Colors
@fscons-red:                                  #c60000;
@fscons-blue:                                 #003897;
@fscons-yellow:                               #fcd116;

@text-color:                                  black;
@brand-primary:                              @fscons-blue;
@link-color:                                  @fscons-blue;
@navbar-default-color:                        #f5f5f5;
@navbar-default-bg:                           #1a1a1a;
@navbar-default-border:                       darken(@navbar-default-bg, 10%);

@navbar-default-color:                        #f5f5f5;
@navbar-default-bg:                           #1a1a1a;
@navbar-default-border:                       darken(@navbar-default-bg, 10%);

// Inverted navbar links
@navbar-default-link-color:                   @navbar-default-color;
@navbar-default-link-hover-color:             #fff;
@navbar-default-link-hover-bg:                transparent;
@navbar-default-link-active-color:            @navbar-default-link-hover-color;
@navbar-default-link-active-bg:               rgba(0,0,0,0.2);
@navbar-default-link-disabled-color:          #444;
@navbar-default-link-disabled-bg:             transparent;

// Inverted navbar brand label
@navbar-default-brand-color:                  @navbar-default-link-color;
@navbar-default-brand-hover-color:            @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:               @navbar-default-link-hover-bg;

// Inverted navbar toggle
@navbar-default-toggle-hover-bg:              #333;
@navbar-default-toggle-icon-bar-bg:           #fff;
@navbar-default-toggle-border-color:          #333;

@import "bootstrap/bootstrap.less";

@import "navbar.less";
@import "typography.less";
@import "listview.less";
@import "footer.less";
@import "agenda.less";

body {
  //padding-top:100px;
}
.container { max-width: 800px; }
