---
layout: default
title: Schedule
---
<h1>Schedule</h1>
<br/>
<p><a href="$schedule$">Detailed schedule</a></p>

<section id="keynotes">
  <h2>Keynotes speakers</h2>
  <article class="row">
    <div class="col-xs-3 col-md-2 text-center">
      <img src="https://upload.wikimedia.org/wikipedia/en/0/00/KarenSandler.jpg"  alt="Photo of Karen Sandler"
          class="img-rounded"
          style="max-width:100%">
    </div>
    <div class="col-xs-9 col-md-10">
      <h4>
        <p>Karen Sandler</p>
        <small>Saturday 14:00, Stora hörsalen</small>
      </h4>
      <p>Karen Sandler is the executive director of the GNOME Foundation, an
      attorney, and former general counsel of the Software Freedom Law
      Center.<p>
      <p class="text-right"><a href="https://en.wikipedia.org/wiki/Karen_Sandler">Read more on Wikipedia</a></p>
    </div>
  </article>

  <article class="row">
    <div class="col-xs-3 col-md-2 text-center">
      <img src="../images/smari.jpg"
          alt="Photo of Smári McCarthy"
          class="img-rounded"
          style="max-width:100%">
    </div>
    <div class="col-xs-9 col-md-10">
      <h4>
        <p>Smári McCarthy</p>
        <small>Sunday 14:00, Stora hörsalen</small>
      </h4> <p>Smári McCarthy is an Icelandic/Irish innovator and information
      activist. He is executive director of the International Modern Media
      Institute, a co-founder and board member of the Icelandic Digital
      Freedoms Society (FSFÍ) and a participant in the Global Swadeshi
      movement. He is a founding member of the Icelandic Pirate Party,
      and stood as their lead candidate in Iceland's southern constituency in
      the 2013 parliamentary elections. He was the spokesperson and one of
      the organizers of the Icelandic Modern Media Initiative.</p>
      <p class="text-right"><a href="https://en.wikipedia.org/wiki/Sm%C3%A1ri_McCarthy">Read more on Wikipedia</a></p>
    </div>
    
  </article>
</section>

<section id="tracks">
  <h2>Tracks</h2>
  <table class="table table-striped">
    <thead>
      <tr><th>Track</th><th>Room on Saturday</th><th>Room on Sunday</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Welcome to Dystopia</td>
        <td>Stora hörsalen</td>
        <td></td>
      </tr>
      <tr>
        <td>Visions for a sustainable economy</td>
        <td>Lilla hörsalen</td>
        <td></td>
      </tr>
      <tr>
        <td>Trust is good, control is better</td>
        <td>C444</td>
        <td></td>
      </tr>
      <tr>
        <td>Serengeti</td>
        <td>C454</td>
        <td>C454</td>
      </tr>
      <tr>
        <td>Administering the revolution</td>
        <td></td>
        <td>Stora hörsalen</td>
      </tr>
      <tr>
        <td>Doing it ourselves</td>
        <td></td>
        <td>Lilla hörsalen</td>
      </tr>
      <tr>
        <td>Wikimedia</td>
        <td></td>
        <td>C444</td>
      </tr>
      <tr>
        <td>Language and technology</td>
        <td></td>
        <td>C362</td>
      </tr>
  </table>
</section>

<section id="lightning-talks">
  <h2>Lightning talks</h2>
  <p>These are short talks which anyone can sign up to hold. Register at the spot to present your project, organisation or crazy idea!</p>
  <table class="table table-striped">
    <thead>
      <tr><th>Day</th><th>Time on Saturday</th><th>Time on Sunday</th><th>Room</th> </tr>
    </thead>
    <tbody>
      <tr><td>Lightning talks</td><td>18:15</td><td>18:15</td><td>Stora hörsalen</td></tr>
    </tbody>
  </table>
</section>

<section id="social-event">
  <h2>Social events</h2>
  <p>Social activities are planned in the evenings of all three days. These include movies, music and just hanging out together.</p>
  <article>
    <h3></h3>
    <p><strong>Keysigning pary:</strong> After a few talks showing you how to regain control of your email
    hosting, in the track "Trust is Good, Control is Better", you will have a
    chance to strengthen your OpenPGP and CAcert.org Webs of Trust by
    certifying each other's identity.</p>
  </article>
  
  <article>
    <p><strong>Movie night:</strong> Come and watch free-as-in-free-speech movies and eat popcorn!</p>
    <div class="row">
      <img src="../images/movies/tears_of_steal.jpg" alt="" class="col-sm-2 col-xs-3 col-md-2 col-md-offset-2 col-sm-offset-2" />
      <img src="../images/movies/big_buck_bunny.jpg" alt="" class="col-xs-3 col-sm-2 col-md-2" />
      <img src="../images/movies/sintel.jpg" alt="" class="col-xs-3 col-sm-2 col-md-2" />
      <img src="../images/movies/elephants_dream.jpg" alt="" class="col-xs-3 col-sm-2 col-md-2" />
    </div>
  </article>

  <article>
    <p><strong>Libre Jam:</strong> Evening concert and jam, where the audience will also be able to listen
    to the results of the workshop.</p>
  </article>
</section>
