---
layout: news_layout
title: 2014 Poster
author: Oliver Propst
published: true
---

<p>
  Please <a href="$baseurl$/images/FSCONS-ad-2014_korr.pdf">share</a>
</p>

<p class="text-center">
  <img src="$baseurl$/images/FSCONS-ad-2014_korr.png"
       alt="FSCONS 2014 poster">
</p>
