---
layout: news_layout
title: FSCONS 2014 what to expect
author: The FSCONS team
published: true
---
<p class="lead">What to expect at FSCONS 2014</p>

<p>FSCONS 2014 features a strong
<a href="https://frab.fscons.org/en/fscons14/public/events">program</a> with
a set of interesting <a href="https://frab.fscons.org/en/fscons14/public/speakers">speakers</a> and
keynotes by two prominent members of the free software community, Karl Fogel and Leigh Honeywell.</p>

<p>Several organizations will be present to present their projects, including
<a href="http://gnome.org">GNOME</a>, <a href="https://fedoraproject.org/">Fedora</a>,
<a href="https://mozilla.org">Mozilla</a> and <a href="https://se.wikimedia.org">Wikimedia</a>.
FSCSONS 2014 will also feature a social events with live electronic music by
Kurbeats and Skillnicker.</p> 

<p>We want to thank our <a href="$baseurl$/sponsors.html">sponsors</a>
and partners who make FSCONS 2014 possible.</p>


