---
layout: news_layout
title: Concerts at FSCONS 2014
author: The FSCONS team
published: true
---

<p class="lead">Kurbeats and Skillnicker to FSCONS 2014</p>

<p>This year's conference will have no less than two excellent electronic
bands performing their music live for you.</p>

<strong>Friday concert: <a href="http://kurbeats.bandcamp.com/">Kurbeats</a>
<p>Folktronica is the mutant child of Scandinavian Folk music and
Electronica.</p>

<p>This album sets out to discover this new path. It blends acoustic
instruments and jojk captured in the Kurbeats studio with digitally
rendered soundscapes created by Andreas and Mathias.</p>

<p>Backed up by Scandinavian tradition and with their roots deep within
the electronic music scene it lends itself to a bigger crowd, this
album is for everyone.</p>

<p>Kurbeats takes you on a journey, from a shaman's tent, a wild ride
through the kosmos to the heart. With this release the duo continues
their story, that began with Yggdrasil - Prose Edda. Only, this is the
true beginning.</p>

<p>Folktronica gives you what Prose Edda merely hinted. So hold on to
your seats, here we go!</p>

<strong>Saturday concert: <a href="http://www.skillnicker.se/">Skillnicker</a>

<p>150 songs per hour!</p>

<p>With five years of touring together Patrik and Niklas have developed a
style of high speed, creative and playful mixing where Bach meets
Britney, Skrillex – Sinatra or Major Lazer – Madonna. In a one hour
set the duo usually clocks in over a hundred songs and combined with
an endless love for all music the shows have come to look more like
rock shows than the average dj-act.</p>

