---
layout: news_layout
title: Keynotes speakers
author: Oliver Propst
published: true
---

<p class="lead">We are excited to announce that Karl Fogel and Leigh Honeywell
will keynote FSCONS 2014</p>

$partial("2014/_layouts/keynotes.html")$

<p>As you may have noticed we have now opened
<a href="$baseurl$/register.html">registration</a> for
this year's edition of FSCONS, as usual we offer a limited number of
early bird tickets at a discounted price. We hope to see you!</p>
