---
layout: news_layout
title:  2014 Highlights
author: The FSCONS team
published: true
---
<p class="lead"">Highlights from FSCONS 2014</p>

<h3>-Keynotes</h2>
<p>Karl Fogel and Leigh Honeywell keynoted FSCONS 2014. Karl's keynote highlighted the importance of communicating issues around information monopolies using a correct(ted) vocabulary. His talk included an extensive amount of humor and some animated film. Leigh talked about models for change, what we can learn about change from different types of communities, it was a very inspirational talk well received by the audience.</p>

<img src="https://ppcdn.500px.org/89542401/d1289999d92b3de529dde94e39c2ef97ef2afe1e/2048.jpg" alt="Karl Fogel deliver FSCONS keynote" width="375" height="245"/ >
<img src="https://ppcdn.500px.org/89542411/5f2d38a16e394535091b0c828a79349f105d9748/2048.jpg" alt="Leigh Honeywell delives FSSCONS 2014 keynote" width="375" height="245"/> 

<h3>-Second year at Hummanisten</h3>
<p>2014 marked the second year FSCONS took place at the Gothenburg University Faculty of Arts, Hummanisten. The venue located in the very center of Gothenburg in a beautiful setting was appreciated by organizers and attendees alike.</p>

<h3>-Some of the most established free software projects present</h3> 

<p>With representatives present from <a href="http://www.gnome.org/"> GNOME</a>, <a href="https://www.mozilla.org/en-US/">Mozilla</a> and <a href="http://se.wikimedia.org/wiki/Huvudsida">Wikimedia</a> it is safe to say that some of the largest and most respected free software projects were present at FSCONS 2014.</p>
<img src="https://ppcdn.500px.org/89542391/ebbc27cf28f52e3c00dd4de83899d2f024b93568/2048.jpg" alt="GNOME hacker at FSCONS 2014" width="400" height="225"/>

<h3>-Appreciated lightning talks</h3>
<p>The lighting talks took this year place in the open cafe area, this appreciated move drove extra interest and attention to the lightning talks.</p>

<h3> Thanks </h3>
<p>We want to thank attendees, volunteers and our <a href="$baseurl$/sponsors.html">sponsors</a> for making FSCONS 2014 happen! Just let us know if you are interested to <a href="$baseurl$/get-involved.html">join </a> our efforts with organsizing FSCONS 2015.</p>

<h3> Pictures </h3>
<img src="https://ppcdn.500px.org/89542379/85cc80eb75f9814ff41f0e7b5fbe3ed9da614bbd/2048.jpg" alt="FSCONS sound guy" width="360" height="250"/>
<img src="https://ppcdn.500px.org/89542425/47ab6c403acf827ad9db523b648563b0e14846ee/2048.jpg"    
alt="Oliver and Soumya talking about the Swedish Mozilla comunity at FSCONS 2014"
width="360" height="250"/>
<img src="https://ppcdn.500px.org/89542421/f2a120e9b0c98d4e1b889031c46e80f6c145fa14/2048.jpg" alt="Makers in action" alt="Audrino device at FSCONS 2014"  width="360" height="250"/>
<img src="https://ppcdn.500px.org/89542363/92d3b3f86b95d0737f6b7c2810de30a803cb462a/2048.jpg" alt="Whiteboard painting at FSCONS 2014" width="360" height="250"/>
<img src="https://ppcdn.500px.org/89542437/a3aa7bad7498530e5d8693b0f1ce42d64e18ffff/2048.jpg" width="360" height="250">
<p>Photos by Oliver Propst, licensed under <a href="https://creativecommons.org/licenses/by/4.0/"/>CC BY 4.0</a></p>
