---
layout: default
title: Accommodation
---
<h1>Accommodation</h1>
<br/>
<ul class="listview menu">
  <li><a data-icon="{{ site.baseurl }}/images/ic_information_32.png" href="#general">General</a></li>
  <li><a data-icon="{{ site.baseurl }}/images/ic_sleeping_32.png" href="#hostels">Hostels</a></li>
  <li><a data-icon="{{ site.baseurl }}/images/ic_sleeping_32.png" href="#hotels">Hotels</a></li>
</ul>

<h2 id="general">General</h2>

<p>When looking for accommodation it's good to look for something which is close to one of the tram lines or bus lines which will take you directly to the FSCONS venue. See <a href="getting_there.html#venue">Getting there: Going to the venue at Humanisten</a> for more information about that. However, since the venue at Humanisten is located in the city centre, it is easily reached from most parts of the city.</p>

<p>This <a href="https://maps.google.com/maps?q=hotel+loc:Renstr%C3%B6msgatan+6,+G%C3%B6teborg&hl=sv&ie=UTF8&sll=57.695192,11.985033&sspn=0.007798,0.016844&geocode=CYFwSWjb3jWEFUaRcAMdoLe2ACk_B2yWZ45PRjFAfA4peJABBA&hq=hotel&hnear=Renstr%C3%B6msgatan+6,+412+55+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+l%C3%A4n,+Sverige&t=m&z=14">Google map</a> shows the location of the venue marked with a green arrow and hostels and hotels in the surrounding area.</p>

<p>You can find additional information about sleeping in Gothenburg at <a href="http://wikitravel.org/en/Gothenburg#Sleep">Wikitravel Gothenburg: Sleep</a>.</p>

<h2 id="hostels">Hostels</h2>
<p>These are lower priced accommodations. There lie scattered all over Gothenburg, but because of the venue's central location the travel time to and from them is relatively low.</p>
<ul>
  <li><a href="http://www.hostel-gothenburg.com/">Hostelling International Stigbergsliden</a></li>
  <li><a href="http://www.sgsveckobostader.se/en">SGS Veckobostäder</a></li>
  <li><a href="http://www.slottsskogenvh.se/">Slottsskogens Youth Hostel</a></li>
  <li><a href="http://www.goteborgsvandrarhem.se/comers/pages/SiteLanguage.action?lang_cd=en">Göteborgs Vandrarhem</a></li>
  <li><a href="http://www.vandrarhem.com/sidor-eng/start.html">Kvibergs Hostel</a></li>
  <li><a href="http://www.grethes.com/eg.htm">Grethe's Hostel</a></li>
</ul>

<h2 id="hotels">Hotels</h2>

<p>The venue is located in an area with many conference facilities and tourist attractions. Consequently there are also many hotels located nearby. The following ones might be suitable for FSCONS participants. They are located so that it is easy or relatively easy to travel to and from the venue.</p>

<ul>
  <li><a href="http://www.scandichotels.com/Hotels/Sweden/Gothenburg/Scandic-Opalen/">Scandic Opalen</a> &ndash; Located near the venue.</li>
  <li><a href="http://www.eklandabandbandprivaterooms.com">Eklanda Bed & Breakfast</a> &ndash; A small establishment located very close to the venue.</li>
  <li><a href="http://www.gothiatowers.com/?lang=en">Gothia Towers</a> &ndash; The glass towers overlooking Korsvägen. Suitable only for visitors without financial restrictions.</li>  
  <li><a href="http://www.accorhotels.com/gb/hotel-2896-ibis-goteborg-city/index.shtml">Ibis Göteborg City Hotel</a> &ndash; Located on a ship in the river that flows though Gothenburg.</li> 
</ul>

