---
layout: default
title: Getting there
---
<h1>Getting to FSCONS</h1>
<br/>
<p>The venue of FSCONS 2013 is the Humanisten building, on address Renströmsgatan 6, Gothenburg, Sweden.</p>
<br/>
<ul class="listview menu">
  <li><a data-icon="../images/ic_by_train_32.png" href="#bytrain">Going to Gothenburg by train or bus</a></li>
  <li><a data-icon="../images/ic_by_plane_32.png" href="#byplane">Going to Gothenburg by airplane</a></li>
  <li><a data-icon="../images/ic_gettingthere_32.png" href="#venue">Going to the venue at Humanisten</a></li>
  <li><a data-icon="../images/ic_by_transport_32.png" href="#public">Public transport in Gothenburg</a></li>
  <li><a data-icon="../images/ic_by_car_32.png" href="#parking">Parking at Humanisten</a></li>
</ul>

<h2 id="bytrain">Going to Gothenburg by train or bus</h2>
There are many trains and busses coming from Stockholm, Oslo and Copenhagen. Trains are usually every hour or so. Prices start from around 400 SEK and go up. Busses are every few hours, they are a little cheaper but usually take more time than the train. Prices are between 250 and 350 SEK depending on where you are coming from. The Central Station is located right next to Nils Ericson-terminalen at Drottningtorget, which is a major traffic point for trams and busses going to different parts of the city. For more information please visit <a href="http://www.sj.se">sj.se</a> for trains and <a href="https://www.nettbuss.se">nettbuss.se</a> or <a href="http://www.swebus.se/">swebus.se</a> for bus schedules.

<h2 id="byplane">Going to Gothenburg by airplane</h2>
<p>Gothenburg has two international airports: <a class="bold" href="http://swedavia.se/en/Goteborg/Traveller-information/">Landvetter</a> and <a class="bold" href="http://www.goteborgairport.se/eng.asp">Göteborg City Airport</a>. Both airports have a bus connection to the city.
Busses leave every 20 min from Landvetter and the price is around 100 SEK.</p>
<p>Busses to and from City Airport are organised according to the specific flights. A bus will be waiting when you arrive and a bus leaves 2 hours and 20 minutes before a specific flight from Nils Ericson-terminalen, the main bus terminal by the Central Station. The price from City Airport is somewhat lower that the price from the Landvetter airport.</p>
<p>Busses from both airports arrive at Nils Ericson-terminalen, located at Drottningtorget near the Central Station. You can not pay cash, but most credit and debit cards are accepted. You can find more information on the bus company website: <a href="http://www.flygbussarna.se/?lang=EN">flygbussarna.se</a>.</p>

<h2 id="venue">Going to the venue at Humanisten</h2>
<p>Humanisten is located on address Renströmsgatan 6, near the public transport junction Korsvägen. This the address can be used as destination in Västtrafiks <a href="http://reseplanerare.vasttrafik.se/bin/query.exe/en">Rote Planner</a> to get a full travelling route there, including a map for the walk from the bus or tram stop.</p>

<p>Korsvägen can be reached by a large number of tram and buss lines, including tram lines number 2, 4, 5, 6, 7 and 8; and buss lines number 50 and 52.</p>
<p>From Korsvägen there is a 5 minute walk to the Humanisten building. The path is shown in <a href="http://a.tiles.mapbox.com/v3/fscons-map.map-juglshxz/page.html">this map</a>. Cross the road to the west of the tram stop and take a flight of stone stairs leading upwards between the buildings. When you reach an open grassy area take the road to your left.</p>

<p>In the map below Korsvägen is marked with a purple buss and Humanisten is marked with an orange star.</p>

<div class="text-center">
  <img src="http://a.tiles.mapbox.com/v3/fscons-map.map-juglshxz/11.986856460571289,57.6958917494207,16/500x300.png" alt="Map of the venue area" class="img-rounded">
</div>

<p>Outside the entrance to Humanisten stands a prominent sculpture shaped like
a large ring which can be recognised from afar. It is shown in the picture
below. <a href="http://www.hum.gu.se/digitalAssets/1353/1353214_orienteringstavla-ht2011_sv.pdf"> Here </a> is a general map of the area</p>
<center>
  <img src="../images/250px-Solringen_-_Claes_Hake.jpg"
       alt="Photo of Sculpture outside Humanisten"
       title="Photo of Sculpture outside Humanisten" height="320px"/></h1>
</center>

<p>Since the Humanisten is located in such a central area it is within walking distance of much of the city centre.</p>

<h2 id="public">Public transport in Gothenburg</h2>
<p>General information about public transport in Gothenburg can be found on the web site of <a href="http://www.vasttrafik.se/#!/en/">Västtrafik</a>. Travel rotes between different locations within the city is best found using Västtrafiks <a href="http://reseplanerare.vasttrafik.se/bin/query.exe/en">Rote Planner.</a></p>

<p>Single tickets can be obtains on trams and some busses in blue ticket machines. These machines accept payment by card and coins (no bank-notes). The price of these is 24 SEK.</p>

<p>The best-value for public transportation for a week-end stay in Gothenburg is probably to purchase either a 3-day travel pass</a> 150 SEK for unlimited travel within Gothenburg city) or a 5 trip card</a> for 93 SEK. See Västtrafiks <a href="http://www.vasttrafik.se/#!/en/2/6/3/">Tickets & Fares</a> page for more information. <em>Please note that these cards do not include tickets for the airport busses</em>. Tickets are sold by Västtrafikbutiker, Pressbyrån, 7-Eleven and many other shops.</p>

<h2 id="parking">Parking at Humanisten</h2>
<p>There are many small parking spaces located around Humanisten. Most of these will require cash payment.</p>

<p><a href="http://www.openstreetmap.org/#map=16/57.6941/11.9864">Map showing parking space locations near Humanisten</a>.</p>


