---
layout: default
title: Kids
---
<h1>Self  organized parent network</h1>
<br/>
<span class="subtitle"></span>

<p>If you are a parent and/or plan to attend FSCONS together with
children, please join our mailing list
<a href="https://antilop.fripost.org/mailman/listinfo/kids%40fscons.org">kids@fscons.org.</a>

<p>Together we can plan acitivites, organize child care and get to know
each other even before the conference.
