---
layout: default
title: Practical information
---
<h1>Practical information</h1>
<br/>
<span class="byline">Managing life during the conference</span>
<br/>
<br/>
<ul id="main-navigation" class="listview menu">
  <li><a href="venue.html"         data-icon="{{ site.baseurl }}/images/ic_venue_32.png"       >Venue</a></li>
  <li><a href="getting_there.html" data-icon="{{ site.baseurl }}/images/ic_gettingthere_32.png">Getting there</a></li>
  <li><a href="accommodation.html" data-icon="{{ site.baseurl }}/images/ic_sleeping_32.png"    >Accommodation</a></li>
  <li><a href="eating.html"        data-icon="{{ site.baseurl }}/images/ic_eating_32.png"      >Eating</a></li>
  <li><a href="going_out.html"     data-icon="{{ site.baseurl }}/images/ic_goingout_32.png"    >Going out</a></li>
  <li><a href="kids.html"          data-icon="{{ site.baseurl }}/images/ic_kids.png"           >Kids</a></li>
  <li><a href="accessibility.html" data-icon="{{ site.baseurl }}/images/ic_plane.png"          >Accessibility</a></li>
</ul>

<iframe src="https://mapsengine.google.com/map/embed?mid=zeV7BiADmEfo.kOaKywFw63bc" width="100%" height="480"></iframe>

