---
layout: default
title: Venue
---

<h1>Venue</h1>
<br/>
<p class="byline">Information about the locale where the event takes place and the event itself.</p>
<div class="content">
<br/>
<ul class="listview">
  <li><a href="#general">General information</a></li>
  <li><a href="#registration">Registration</a></li>
  <li><a href="#opening_hours">Opening hours</a></li>
  <li><a href="#checking_in">Checking in</a></li>
  <li><a href="#cloakroom">Cloakroom</a></li>
  <li><a href="#atm">ATM</a></li>
  <li><a href="#wifi">Wi-Fi network</a></li>
</ul>


<h2 id="general">General information</h2>

<br/>
<p>The main venue of the conference is the Humanisten building, which is located at Renströmsgatan 6 near the large public transport junction Korsvägen. For direction to the venue see the <a href="getting_there.html#venue">Getting there</a> page.</p>


<center>
<img src="../images/goteborgs_Universitet_Humanisten.jpg"
     alt="The entrance to the Humanisten building"/>
</center>

<p>Humanisten belongs to humanities department of Gothenburg University. It is located in a beautiful environment surrounded by gardens and near the small pond called Näckrosdammen. It lies in the very centre of Gothenburg, within walking distance of Korsvägen and much of the city centre.</p>

<div/>

<h2 id="opening_hours">Opening hours</h2>
The venue will be open from about 15 minutes before the start of the first event of the day to 23:00 in the evening. To make things easier for the FSCONS staff all participants are asked to observe this rule and leave the building by that time.

<h2 id="checking_in">Checking in at the venue</h2>
Participants check in at the venue by collecting name badges and welcome information that will be laid out in a visible spot near the entrance. No other form of registration is required.

<h2 id="cloakroom">Cloakroom</h2>
There will be an attended cloakroom at the information desk. <b>Please observe that the information desk will close at 23:00!</b> Any possessions not collected at that time will be left unattended.

<h2 id="atm">ATM</h2>
The nearest ATM is located at Korsvägen. It is located on the opposite side of the public transport stop relative to Humanisten, in the direction of the glass clad tower buildings.

<h2 id="wifi">Wi-Fi network</h2>
Wi-Fi Internet connection will be available for all participants. Login information will be printed at the name badges that are given to all participants  when checking in at the venue.
