---
layout: default
title: Venue
---

<h1>Venue</h1>
<br/>
<p class="byline">Information about the locale where the event takes place and
the event itself.</p>
<br/>

<div class="row">
  <div class="col-xs-6 col-sm-4">
    <a href="https://a.tiles.mapbox.com/v4/evariste.nnod0c14/page.html?access_token=pk.eyJ1IjoiZXZhcmlzdGUiLCJhIjoiY2lmdjVjd3EyMDIzdXRjbTBzdHcwMXdmdyJ9.GKpjTCvOppEOSdNonlWydw#17/57.69559/11.98530">
      <img style="width:100%" src="$baseurl$/images/map-2015.png" alt="map"/>
    </a>
  </div>
  <div class="col-xs-6 col-sm-8">
    <p class=lead>Humanisten</p>
    <p><address>Renströmsgatan 6<br/>Göteborg</address></p>
    <p>
      <a href="#getting-there">Getting there</a> ⬥
      <a href="#accessibility">Accessibility</a> ⬥
      <a href="#opening_hours">Opening hours</a> ⬥
      <a href="#checking_in">Checking in</a> ⬥
      <a href="#cloakroom">Cloakroom</a> ⬥
      <a href="#atm">ATM</a> ⬥
      <a href="#wifi">Wi-Fi network</a> ⬥
      <a href="#parking">Parking</a>
    </p>
  </div>
</div>


<div class="content">



<h2 id="getting-there">Getting there</h2>

<div class="well">
  <script type="text/javascript" src="https://reseplanerare.vasttrafik.se/bin/help.exe/sny?tpl=suggest"></script>
  <form class="form-horizontal" action="https://reseplanerare.vasttrafik.se/bin/query.exe/sn?ld=fe1&externalCall=yes" name="form_06829161371117192141221680071851008" method="post" target="_blank">
    <input type="hidden" name="queryPageDisplayed" value="yes">
    <input type="hidden" name="ST" value="255">
    <input type="hidden" name="ZID" value="A=2@O=FSCONS 2015@X=11985101@Y=57694881@U=103@L=990031438@B=1@p=1381138409@" id="ZIDfield" />
    <input type="hidden" id="dato0" name="date" value="">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="S">From</label>
      <div class="col-sm-10">
        <input type="text" name="S" value="" maxlength="60" class="HafasSuggest form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3 col-xs-12">
        <select class="form-control" name="tpl_timesel">
          <option value="1"  >Departure</option>
          <option value="0"  >Arival</option>
        </select>
      </div>
      <div class="col-sm-2 col-xs-4">
        <select class="form-control" id="input_day0" onChange="javascript:syncToHidden('form_06829161371117192141221680071851008');">
          <option value="29">29</option>
        </select>
      </div>
      <div class="col-sm-3 col-xs-4">
        <select class="form-control" id="input_year0" onChange="javascript:syncDays('input_day0',this.value,'2015-08-18','2015-12-12'); syncToHidden('form_06829161371117192141221680071851008');">
          <option value="May 2007">May 2007</option>
        </select>
        <script type="text/javascript" src="https://reseplanerare.vasttrafik.se/hafas-res/js/vs_phase2/microsite.js?guiV=3.0.6"></script>
        <script type="text/javascript" language="javascript">
          var periodStart = new Date();
          var periodEnd   = new Date();
          periodEnd.setMonth(periodEnd.getMonth()+2);
          var current     = new Date();
          var monthsTextsShort = new Array("Jan","Feb","Mar","Apr","Maj","Jun","Jul","Aug","Sep","Okt","Nov","Dec");
          printDays("form_06829161371117192141221680071851008","input_day0", new Date(periodStart), new Date(current));
          printMonths("form_06829161371117192141221680071851008","input_year0", new Date(periodStart), new Date(periodEnd), new Date(current));
          syncToHidden("form_06829161371117192141221680071851008");
        </script>
      </div>
      <div class="col-sm-2 col-xs-4">
        <input type="text" name="time" value="" maxlength="5" id="input_time0" class="form-control">
        <script type="text/javascript" language="javascript">
          <!--
          var jsCurrentTime = new Date();
          var jsHours = jsCurrentTime.getHours();
          var jsMinutes = jsCurrentTime.getMinutes();
          var jsHoursOutput = ((jsHours < 10) ? "0" + jsHours : jsHours);
          var jsMinutesOutput = ((jsMinutes < 10) ? "0" + jsMinutes : jsMinutes);
          var jsTimeOutput =  (jsHoursOutput + ":" + jsMinutesOutput);
          eval('document.form_06829161371117192141221680071851008.time.value=jsTimeOutput');
          // -->
        </script>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" name="start" value="ok">Search route</button>
      </div>
    </div>
  </form>
</div>

<p>Humanisten is located near the public transport
junction Korsvägen which can be reached by a large number of tram and buss
lines, including tram lines number 2, 4, 5, 6, 7 and 8; and buss lines number
50 and 52 and the airport bus.</p>

<p>From Korsvägen there is a 5 minute walk to the Humanisten building. The path
is shown in the following map where Korsvägen is marked with a purple buss and
Humanisten is marked with an orange star. Cross the road to the west of the
tram stop and take a flight of stone stairs leading upwards between the
buildings. When you reach an open grassy area take the road to your left.</p>

<div class="text-center">
  <a href="https://a.tiles.mapbox.com/v3/fscons-map.map-juglshxz/page.html">
    <img style="max-width:100%" src="https://a.tiles.mapbox.com/v3/fscons-map.map-juglshxz/11.986856460571289,57.6958917494207,16/500x300.png" alt="Map of the venue area" class="img-rounded">
  </a>
</div>

<p>Outside the entrance to Humanisten stands a prominent sculpture shaped like
a large ring which can be recognised from afar. It is shown in the picture
below.
 <a href="https://www.hum.gu.se/digitalAssets/1353/1353214_orienteringstavla-ht2011_sv.pdf">Here </a> is a general map of the area</p>

<div class="text-center">
  <img src="$baseurl$/images/250px-Solringen_-_Claes_Hake.jpg"
       alt="Photo of Sculpture outside Humanisten"
       title="Photo of Sculpture outside Humanisten" height="320px"
       style="max-width:100%"/></h1>
</div>

<p>Since Humanisten is located in such a central area it is within walking
distance of much of the city centre.</p>

<h2 id="opening_hours">Opening hours</h2>
The venue will be open from about 15 minutes before the start of the first
event of the day to 23:00 in the evening. To make things easier for the FSCONS
staff all participants are asked to observe this rule and leave the building by
that time.

<h2 id="checking_in">Checking in at the venue</h2>
Participants check in at the venue by collecting name badges and welcome
information that will be laid out in a visible spot near the entrance. No other
form of registration is required.

<h2 id="accessibility">Accessibility</h2>
<p>The venue building at Humanisten is an official Swedish education facility
and should be designed to be accessible to everybody, regardless of needs and
means of transportation.</p>
<p>Elevators are available as well as toilets with extra space and movement
aids.</p>
<p>Most lecture room that will be used have a sound system which can be used
together with hearing aids. All speakers have been encouraged to consider the
clarity for all people in their visual material.</p>  
<p>The staff at FSCONS is happy to give assistance to anyone who needs it in
order to get access to the conference, both beforehand and during the
event.</p>

<h2 id="cloakroom">Cloakroom</h2>
There will be an attended cloakroom at the information desk. <b>Please observe
that the information desk will close at 23:00!</b> Any possessions not
collected at that time will be left unattended.

<h2 id="atm">ATM</h2>
The nearest ATM is located at Korsvägen. It is located on the opposite side of
the public transport stop relative to Humanisten, in the direction of the glass
clad tower buildings.

<h2 id="wifi">Wi-Fi network</h2>
Wi-Fi Internet connection will be available for all participants. Login
information will be printed at the name badges that are given to all
participants  when checking in at the venue.

<h2 id="parking">Parking at Humanisten</h2>
<p>There are many small parking spaces located around Humanisten. Most of these
will require cash payment.</p>

<p><a href="https://www.openstreetmap.org/#map=16/57.6941/11.9864">Map showing parking space locations near Humanisten</a>.</p>

<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/evariste.nnod0c14/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZXZhcmlzdGUiLCJhIjoiY2lmdjVjd3EyMDIzdXRjbTBzdHcwMXdmdyJ9.GKpjTCvOppEOSdNonlWydw'></iframe>
