---
layout: default
title: Registrater
---
<h2>Register for FSCONS 2015</h2>

<p><strong>What if you don't want to use PayPal?</strong> We also accept bank
transfer (Plusgiro, Bankgiro and IBAN) <a href="#nopaypal">Read more</a>

<div style="width:100%; text-align:left;" >
  <iframe  src="//eventbrite.com/tickets-external?eid=17395251666&ref=etckt" frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div>
</div>

<h3 id='nopaypal'>What if you don't want to use PayPal?</h3>

<p>Send us an email at <a href="mailto:info@fscons.org">info@fscons.org</a> with
the following information:

<pre>
Ticket type:
	a) business
	b) early-bird personal
	c) normal personal
	d) youth (only with accompanying adult with personal ticket)
First Name: 	*
Last Name: 	*
Email Addres: 	*
Name on badge 	*
Other Information
I identify my gender as (used only for statistical purposes)...
	a) woman
	b) man
	c) trans
	d) no disclosure
I have been to FSCONS before:
	Yes
	No
I would like to get emails about future conferences
	Yes
	No

If ticket type - Business
Company info:
company name: *
reference:
Company-id/VAT-nbr:
want invoice:
	Yes
	No

</pre>

<table class="table">
  <caption>Payment information</caption>
  <tbody>
    <tr><th>Plusgiro</th><td>477884-1</td></tr>
    <tr><th>Bankgiro</th><td>311-5060</td></tr>
    <tr><th>IBAN</th><td>SE27 9500 0099 6026 0477 8841</td></tr>
    <tr><th>BIC</th><td>NDEASESS</td></tr>
    <tr><th>paypal</th><td>paypal@fscons.org</td></tr>
    <tr><th>Non-profit organisation id</th><td>802468-7603</td><tr>
  </tbody>
</table>

