---
title: Sponsors
---
<h1>Sponsors</h1>
<br/>
<p>
  FSCONS sponsors and media partners will be listed here.
  If you want to sponsor us, please visit our
  <a href="sponsorships.html">sponsorship page</a> where you'll find
  terms and conditions, as well as contact information and information
  on previous sponsors.
</p>

<h3>Sponsors</h3>
<div>
  <h4><a href="http://www.gu.se">University of Gothenburg</a></h4>
  <img src="images/logo-gu.svg" alt="University of Gothenburg" class="img-responsive" style="max-height:6em;float:right;margin:.7em;"/>
  <p>The University of Gothenburg tackles society’s challenges with diverse
  knowledge. 37&nbsp;000 students and 6&nbsp;000 employees make the University
  a large and inspiring place to work and study, with a continuous flow of new
  knowledge and ideas.</p>
  <p>Strong research and attractive study programmes attract scientists and
  students from around the world. The University of Gothenburg is
  environmentally certified and works actively for sustainable development.
  With new knowledge and new perspectives, the University contributes to a
  better future.</p>
  <p> The University of Gothenburg very substantially supports the event by
  providing us with the location as well as infrastructure on-site.</p>
</div>
<hr/>

<div>
  <h4><a href="http://www.friprogramvarusyndikatet.se/">Friprogramvarusyndikatet</a></h4>
  <img src="images/friprogramvarusyndikatet.png" alt="Friprogramvarusyndikatet" style="float:right; width:90%;max-width:300px; margin:.7em;"/>
  <p>Consulting services on <a href="http://eXist-db.org">exist-db</a>&mdash;a Free
  Software database system, LGPL, based entirely on XML technologies&mdash;and
  language technology software with an emphasis on free software.
  <p>Friprogramvarusyndikatet supports the event financially.</p>
</div>
<hr/>

<div>
  <h4><a href="http://southpole.se/">South Pole AB</a></h4>
  <img src="images/southpole.png" alt="South Pole AB logo"
       style="float:right; width:90%;max-width:222px; margin:.7em;"/>
  <p>South Pole is the largest manufacturer of servers in Sweden. They are also
  experts in Linux in everything from powerful server solutions to embedded
  systems development. Here you'll find some of Sweden's best Linux talet.
  <p>South Pole AB supports the event financially.</p>
</div>
<hr/>


<h3>Partners</h3>
<div class="clearfix">
  <h4><a href="https://www.studieframjandet.se/">Studiefrämjandet</a></h4>
  <img src="images/studieframjandet.se.png" alt="Studiefrämjandet logo" class="img-responsive" style="max-height:6em;float:right;margin:.7em;"/>
</div>
<hr/>

<div class="clearfix">
  <h4>
    <a href="http://www.linux-magazine.com/">Linux Magazine</a> &amp;
    <a href="http://www.admin-magazine.com/">Admin Magazine</a>
  </h4>
  <div style="float:right; width:90%;max-width:150px; margin:.7em;">
    <img src="images/adminmag.png" alt="Admin Magazine logo" style="width:100%"/>
    <img src="images/linux_magazine.png" alt="Linux Magazine logo" style="width:100%"/>
  </div>
  <p>Linux Magazine and Admin Magazine are media partners of the event.</p>
</div>
<hr/>
