---
layout: default
title: Going out
---

<h1>Going out</h1>
<br/>

<p>Here are some ideas of things to do and places to visit when in Gothenburg.</p>

<ul>
  <li><a href="http://www.tradgardsforeningen.se/wps/portal/tradgardsf/palmhuset">The Palmhouse</a> &ndash; An oasis of peace in the middle of the city, this giant greenhouse contains within it a true jungle. Perfect when eyes weary from looking at computer screens need to rest by looking at the green colour of living plants.</li>
  <li><a href="http://www.aeroseum.se/english/">Aeroseum</a> &ndash; Aviation Discovery Centre</li>
  <li><a href="http://www.varldskulturmuseerna.se/en/varldskulturmuseet/">Museum of World Culture</a></li>
  <li>The <a href="http://www.designmuseum.se/">Röhsska Museum</a> of Design, Fashion and Decorative Arts</li>
  <li>Gallery <a href="http://www.konstepidemin.se/index_eng.htm">Konstepidemin</a></li>
  <li><a href="http://konstmuseum.goteborg.se/wps/portal/konstm/english">Gothenburg Museum of Art</a></li>
  <!--li>Christmas at <a href="http://www.liseberg.com/en/home/">Liseberg</a> - Sweden’s largest Christmas market</li-->
  <li><a href="http://goteborg.com/en/Events/Events-Startpage/">go:teborg events calendar</a></li>
  <li><a href="http://www.goteborg.com/en/">Tourist Office</a></li>
</ul>
