<!-- The structure of the home page is heavily inspired from the one for
fosdem (2014)

We start with a banner (jumbotron in bootstrap slang) that advertise
the stuff that's important right now. Then a word of presentation and the main
menu. Finally, we show a link and snippet to the latest news.  -->

<!-- ~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
The jumbotron is a big banner that we can use to advertise what's important
right now. for instance, the CFP and registration -->
<div class="row">
  <div class="col-md-12">
    <img  src="images/banner2.png"
          width="100%"
         alt="Banner that says: FSCONS 2014, Gothenburg, 31 Oct - 2 Nov, with some geeky pictures of arduinos and sticker covered laptop"/>
  </div>
</div>

<!-- ~~~ LEAD TEXT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Short word about fscons. -->
<br/>

<!-- ~~~ MAIN MENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
links to important parts of the site -->
<ul id="main-navigation" class="listview">
  <li><a href="$baseurl$/schedule" data-icon="$baseurl$/images/ic_schedule.png">Schedule</a></li>
  <li><a href="$baseurl$/practical_info/practical_info.html" data-icon="$baseurl$/images/ic_info_i.png">Practical information</a></li>
  <li><a href="$baseurl$/get-involved.html" data-icon="$baseurl$/images/ic_help.png">Volunteer at FSCONS</a></li>
  <!--li><a href="$baseurl$/sponsors.html" data-icon="$baseurl$/images/ic_sponsors.png">Sponsors and partners</a></li-->
</ul>


<div class="row">
  <div class="col-sm-6 col-md-4"
       style="border-left: thick #003897 solid;">
    <section id="keynotes">
      <h3>Keynotes</h3>
      <h4>
        <img src="images/honeywell.jpg"
             alt="Leigh Honeywell"
             class="img-rounded"
             width="50px">
        Leigh Honeywell
      </h4>
      <h4>
        <img src="images/fogel.jpg"
             alt="Karl Fogel"
             class="img-rounded"
             width="50px">
        Karl Fogel
      </h4>

      <p class="text-right"><a href="$baseurl$/schedule/index.html">Read more...</a>
    </section>
  </div>

<!-- ~~~ NEWS  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Show a preview of the most recent news -->


  <div class="col-sm-6 col-md-4"
       style="border-left: thick solid #c60000;">
    <section id="news">
      <h3>News</h3>
      $for(posts)$
        <span class="muted">$date$</span>
        <h4><a href="$url$">$title$</a></h4>
      $endfor$
    </section>
  </div>

<div class="row">
  <div class="col-sm-6 col-md-4"
       style="border-left: thick #f8cc00 solid;">
    <section id="register">
      <h3>Register</h3>
      <h4><a href="$baseurl$/register.html">Register for FSCONS 2014</a></h4>
      <p class="text-center">
      <a href="$baseurl$/register.html">
        <img src="$baseurl$/images/register.png" alt="register" />
      </a>
      </p>
    </section>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-sm-4">
    <p class="lead">
      <a href="$baseurl$/sponsors.html">Sponsors &amp; partners</a>
    </p>
    <p>
      <img src="$baseurl$/images/logo-gu-small.png" alt="Gothenbug University" />
      <img src="$baseurl$/images/friprogramvarusyndikatet-small.png" alt="Friprogramvarusyndikatet">
    </p>
  </div>
  <div class="col-md-6 col-sm-4">
    <p class="lead">About</p>
    <p>
      FSCONS is the largest gathering for free culture, free software and a
      free society in the Nordic countries. <a href="about.html">Read more
      about the conference</a>.
    </p>
  </div>

</div>
