<article class="row">
  <div class="col-xs-3 col-md-2 text-center">
    <img src="$baseurl$/images/honeywell.jpg"  alt="Photo of Leigh Honeywell"
    class="img-rounded"
    style="max-width:100%">
  </div>
  <div class="col-xs-9 col-md-10">
    <h4>
      <p>Leigh Honeywell</p>
      <!--small>Saturday 14:00, Stora hörsalen</small-->
    </h4>

    <p>Leigh is a Security Engineer at <a href="https://heroku.com">Heroku</a>, a <a href="https://salesforce.com">Salesforce.com</a> company. Prior to Heroku, she worked at <a href="http://microsoft.com/msrc">Microsoft</a>, <a href="http://www.symantec.com/products-solutions/families/?fid=symantec-cloud">MessageLabs/Symantec</a>, and Bell Canada. Her career has included everything from stringing cable and building phone systems to responding to some of the most critical computer security incidents in industry history, shipping software to a billion people, and protecting infrastructure running a million apps.</p>

    <p>Her community work includes founding the <a href="http://hacklab.to">HackLabTO</a> hackerspace in Toronto, Canada, and the first feminist hackerspace, the <a href="http://seattleattic.com">Seattle Attic Community Workshop</a>, as well as advising countless others and speaking about hackerspace cultures, collaboration, and open source software. She is now a member of the <a href="http://doubleunion.org">Double Union</a> women&#8217;s hackerspace in San Francisco. She is an administrator of the Geek Feminism <a href="http://geekfeminism.wikia.com">wiki</a> and <a href="http://geekfeminism.org">blog</a>, and adviser to the <a href="http://adainitiative.org">Ada Initiative</a>, and the <a href="http://sector.ca">SECTor</a> security conference in Toronto.  Leigh has a Bachelors of Science from the University of Toronto where she majored in <a href="http://web.cs.toronto.edu/">Computer Science</a> and <a href="http://utoronto.ca/equitystudies">Equity Studies</a>.</p>

    <p class="text-right">
    <a href="http://hypatia.ca/">Leigh Honeywell's blog</a>
    </p>
  </div>
</article>

<article class="row">
  <div class="col-xs-3 col-md-2 text-center">
    <img src="$baseurl$/images/fogel.jpg"
    alt="Photo of Karl Fogel"
    class="img-rounded"
    style="max-width:100%">
  </div>
  <div class="col-xs-9 col-md-10">
    <h4>
      <p>Karl Fogel</p>
      <!--small>Sunday 14:00, Stora hörsalen</small-->
    </h4>
      <p>Karl Fogel is an open source software developer, author, and consultant.  In 2005 he wrote <a href="http://producingoss.com" >Producing Open Source Software: How to Run a Successful Free Software Project</a> (O'Reilly Media), based partly on his experiences in the <a href="http://subversion.apache.org/" >Subversion</a> project.</p>
      <p>He is now a partner at <a href="http://opentechstrategies.com/" >Open Tech Strategies, LLC</a>, where he helps organizations launch and engage with open source projects.  He has worked at <a href="http://collab.net/" >CollabNet</a>, <a href="http://google.com/" >Google</a>, <a href="http://canonical.com/" >Canonical</a>, <a href="http://oreilly.com/" >O'Reilly Media</a>, and <a href="http://codeforamerica.org/" >Code for America</a> / <a href="http://civiccommons.org/" >Civic Commons</a>, all as an open source specialist.  He is also an <a href="http://openitp.org/" >Open Internet Tools Project</a> Fellow at the <a href="http://newamerica.net" >New America Foundation</a>, a former member of the board of directors of the <a href="http://opensource.org/" >Open Source Initative</a>, a member of the <a href="http://apache.org/" >Apache Software Foundation</a>, an advisory board member at the <a href="http://c4sif.org/about/" >Center for the Study of Innovative Freedom</a>, and President of <a href="http://questioncopyright.org" >QuestionCopyright.org</a>.</p>
      <p>He can be found at @kfogel on <a href="http://identi.ca/kfogel" >Identi.ca</a> and <a href="http://twitter.com/#!/kfogel" >Twitter</a>, and his home page is <a href="http://www.red-bean.com/kfogel/" >red-bean.com/kfogel</a>.</p>
  </div>
</article>
