---
layout: default
title: Schedule
---
<h1>Schedule</h1>
<br/>
<p><a href="$schedule$">Detailed schedule</a></p>

<section id="keynotes">
  <h2>Keynotes speakers</h2>
  $partial("2014/_layouts/keynotes.html")$
</section>

<section id="tracks">
  <h2>Tracks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Track</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Code, Data and Infrastructure</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Full Commonism</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Programming languages</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Open Space</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Peer production</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Makers</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>The Unrestricted Web</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Wikimedia</td>
        <td></td>
        <td></td>
      </tr>
  </table>
</section>

<section id="lightning-talks">
  <h2>Lightning talks</h2>
  <p>These are short talks which anyone can sign up to hold. Register at the spot to present your project, organisation or crazy idea!</p>
</section>

<section id="social-event">
  <h2>Social events</h2>
  <p>Social activities are planned in the evenings of all three days. These include movies, music and just hanging out together.</p>
  <article>
    <h3></h3>
    <p><strong>Keysigning pary:</strong> Strengthen your OpenPGP and CAcert.org Webs of Trust by
    certifying each other's identity.</p>
  </article>
  
</section>
