/**
 * This is the style from the "agenda" part of the schedule.
 *
 * The agenda is an overview of the important times of the day.
 * Both the idea and the style are inspired from Google IO
 * https://developers.google.com/events/io/agenda
 **/

@agenda-header-line-height: 50px;
@agenda-date-width: 200px;
@agenda-hour-width: 45px;
@agenda-border-left: 5px;

.agenda {
  padding: 55px 0 0;
  /** Layout
   * The agenda may look like a table but it is implemented as a set of
   * positioned div. This is how google did it, I presume for accessibility
   * reasons.
   * Less makes that a bit easier by allowing us to use variables and
   * arithmetic.
   *
   * Each line in the agenda is a simple <div> and time span are yet an
   * other div inside. Textual time information are hidden and instead
   * the width and position of the div represent the time span in a graphical
   * way.
   *
   * To give the table look to our agenda, we need to draw columns accross the
   * lines. The header is used to do that: every column is a <span> element
   * containing the text for the column header but those spans are streched
   * accross the height of the agenda. This way, the left and right borders
   * of the spans become column separators.
   **/
  /*This is important because we will position everithing inside against it */
  position: relative;

  .agenda-header {
    /* The header is shows the date and hours of the day.
     * and is used to draw the columns */
    bottom: 0;
    position: absolute;
    top: 110px;
    border-right: 1px solid #e5e5e5;
    /* The header is divided into multiple spans */
    span {
      float: left;
      /* This will determine the height of the header (minus borders) */
      line-height: @agenda-header-line-height;
      display: inline-block;

      /* First span shows the date. This one should be large enough
       * not only for the date itself but for everything in the firs column
       * i.e. for all item titles */
      &.agenda-date {
        width: @agenda-date-width;
        color: #b6b6b6;
        font-size: 1.25em;
        // Give it a nice colored top border
        border-top: 5px solid @fscons-blue;
      }

      /* Then comes one div for each hour of the agenda */
      &.schedule-hour {
        width: @agenda-hour-width;
        height: 100%;
        border-bottom: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-top: 5px solid #e5e5e5;
        color: #464646;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        z-index: 1;
      }
    }
  }


  /** Agenda rows **/
  // The rows are simple <div>
  .agenda-row {
    // there is an invisible left borden that change color when
    // the mouse is over the row
    border-left: @agenda-border-left solid transparent;
    &:hover {
      border-left-color: @fscons-yellow;
    }
    clear: both;
    font-size: 13px;
    line-height: 35px;
    overflow: hidden;
    padding: 0 0 0 5px;
    position: relative;
    z-index: 1;

    // First row has to leave some space for the header
    // (Since we positioned the header absolutely, the browser does not
    // consider it in the normal flow of elements)
    &.first {
      margin-top: 55px;
    }
    // Altertated background color
    &.alt {
      background-color: rgba(229,229,229,0.5);
    }

    // Agenda item: this is a time span in the agenda
    .agenda-item {
      background: @fscons-yellow;
      bottom: 0;
      color: #FEE49C;
      display: inline-block;
      font-size: 24px;
      font-weight: 700;
      height: 100%;
      // Default left position: starts at the begining
      left: @agenda-date-width - @agenda-border-left + 1;
      line-height: 30px;
      margin: 2px 0;
      padding: 0 0 0 10px;
      position: absolute;
      top: 0;
      z-index: 1;
      // We need to hide the text inside the item
      // (the text is here for accessibility)
      span { display: none; }
      .bullet:before { content: '•'}
    }
  }
}
