/* ***************************************************************************
 * Footer
 * Style and layout
 */
#footer {
  background: #f3f3f3;
  margin: 2.5em auto 0;
  padding: 1.25em 0;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      font-size: .75em;
      list-style-type: none;
      margin-left: 2em;

      a {
        color: #666;
        text-decoration: none;
      }
    }
  }
}
