// Navbar height
@navbar-height: 85px;

// Compute the size of the color stripes at the top of
// the navbar via [strip height in px] / [navbar height in px]
@navbar-stripe-size: 2px; // / 64; //@navbar-height;

// Colors
@fscons-red:            #c60000;
@fscons-blue:           #003897;
@fscons-yellow:         #fcd116;

@navbar-fscons-color:                       #f5f5f5;
@navbar-fscons-bg:                          #1a1a1a;
@navbar-fscons-border:                      darken(@navbar-fscons-bg, 10%);

// Inverted navbar links
@navbar-fscons-link-color:                  @navbar-fscons-color;
@navbar-fscons-link-hover-color:            #fff;
@navbar-fscons-link-hover-bg:               transparent;
@navbar-fscons-link-active-color:           @navbar-fscons-link-hover-color;
@navbar-fscons-link-active-bg:              darken(@navbar-fscons-bg, 10%);
@navbar-fscons-link-disabled-color:         #444;
@navbar-fscons-link-disabled-bg:            transparent;

// Inverted navbar brand label
@navbar-fscons-brand-color:                 @navbar-fscons-link-color;
@navbar-fscons-brand-hover-color:           @navbar-fscons-link-hover-color;
@navbar-fscons-brand-hover-bg:              @navbar-fscons-link-hover-bg;

// Inverted navbar toggle
@navbar-fscons-toggle-hover-bg:             #333;
@navbar-fscons-toggle-icon-bar-bg:          #fff;
@navbar-fscons-toggle-border-color:         #333;

// FSCONS navbar
// -------------------------
.navbar-default {
  // By default, non fixed navbar have rounded corners,
  // so we need to remove them
  border-radius: 0;
//   padding:1em 0;
//   //margin: 0;

  /* This code creates the small stripe of colors on the top of the
   * the navbar as as css gradient. */
  background-color: @navbar-fscons-bg;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
    from(@fscons-blue),
    color-stop(@navbar-stripe-size,     @fscons-blue),
    color-stop(@navbar-stripe-size * 1, @fscons-red),
    color-stop(@navbar-stripe-size * 2, @fscons-red),
    color-stop(@navbar-stripe-size * 2, @fscons-yellow),
    color-stop(@navbar-stripe-size * 3, @fscons-yellow),
    color-stop(@navbar-stripe-size * 3, @navbar-fscons-bg),
    to(@navbar-fscons-bg));
  background-image: -webkit-linear-gradient( @fscons-blue,
    @fscons-blue      @navbar-stripe-size,
    @fscons-red       @navbar-stripe-size * 1,
    @fscons-red       @navbar-stripe-size * 2,
    @fscons-yellow    @navbar-stripe-size * 2,
    @fscons-yellow    @navbar-stripe-size * 3,
    @navbar-fscons-bg @navbar-stripe-size * 3,
    @navbar-fscons-bg);
  background-image: -moz-linear-gradient(top,
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size * 1 * 100%,
    @fscons-red    @navbar-stripe-size * 1 * 100%,
    @fscons-red    @navbar-stripe-size * 2 * 100%,
    @fscons-yellow @navbar-stripe-size * 2 * 100%,
    @fscons-yellow @navbar-stripe-size * 3 * 100%,
    @navbar-fscons-bg        @navbar-stripe-size * 3 * 100%,
    @navbar-fscons-bg);
  background-image: -o-linear-gradient(
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size,
    @fscons-red    @navbar-stripe-size * 1,
    @fscons-red    @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 3,
    @navbar-fscons-bg        @navbar-stripe-size * 3,
    @navbar-fscons-bg);

  background-image: linear-gradient(
    @fscons-blue,
    @fscons-blue   @navbar-stripe-size,
    @fscons-red    @navbar-stripe-size * 1,
    @fscons-red    @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 2,
    @fscons-yellow @navbar-stripe-size * 3,
    @navbar-fscons-bg        @navbar-stripe-size * 3,
    @navbar-fscons-bg);
  background-repeat: no-repeat;

  .navbar-brand {
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 32px;
    line-height: 40px;
    img.logo {
      float:left;
      margin: 0 15px;
      height:40px;
    }
    &, a, p {
      font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
      color:white;
      text-decoration: none;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
    p {
      margin: 0 0 0 75px ;
      font-size:16px;
      line-height:20px;
      font-weight:lighter;
    }
  }
}
