body {
	font-family: "Thorndale", serif;
	font-size: 10pt;
	line-height: 1.4em;
}
p {
	margin: 1.4em 0 1.4em 0;  /* one paragraph line height, however that is defined */
}
h1 {
	font-family: Albany, sans-serif; 
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.75em; /* 1.75 * 1.6 = 2.8 = 2 * 1.4 */
	letter-spacing: 0.04em;
}
h2 {
	font-family: Albany, sans-serif; 
	font-weight: normal;
	font-size: 1.4em;
	line-height: 2em; /* 2 * 1.4 = 2.8 = 2 * 1.4 */
	letter-spacing: 0.04em;
}
h3 {
	font-family: Albany, sans-serif; 
	font-weight: normal;
	font-size: 1.25em;
	line-height: 2.24em; /* 2.24 * 1.25 = 2.8 = 2 * 1.4 */
	letter-spacing: 0.04em;
}
h1.title {
	font-family: "Thorndale", serif;
	font-size: 2em;
	letter-spacing: 0.04em;
	line-height: 1.4em; /* same relative line height as in text body */
	text-align: center;
	padding: 0 0 0.7em 0; /* 2 * 0.7 = 1.4 */
}
h1.subtitle, h1.author, h1.date {
	font-family: "Thorndale", serif;
	font-size: 1.4em;
	font-weight: normal;
	letter-spacing: 0.045em;
	line-height: 140%;
	text-align: center;
	padding: 0 0 1em 0;
}
li {
	padding: 0.35em 0 0.35em 0;
}
dd {
  margin: 0 0 0.7em 3em;
}

blockquote {
	font-size: 0.9em;
	margin: 1.4em 3.5em;
	line-height: 1.4em;
}
table {
	font-size: 0.9em;
	line-height: 1.4em;
	text-align: left;
	margin: 1.4em 0 1.4em 0;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	vertical-align: top;
}
tbody {
	border-bottom: 0.5pt solid black;
	border-top: 0.5pt solid black;
}
td, th {
	font-weight: normal;
	padding: 0.4em 0.8em;
}
th { text-align: center;}
td.right {text-align: right;}

/* E-mail addresses */
td.address { font-style: italic; }
td.address:after { content: "@fscons.org"; }
span.address { font-style: italic; }
span.address:after { content: "@fscons.org"; }


/*
table {
	border-collapse: collapse;
border-spacing: 4pt;
}
table {
border: 1px solid black;
}
th {
border: 1px solid black;
}
table tbody tr td {
border: 2px solid green;
}
table tbody {
	background-color: red;
	border-bottom: 4pt dashed black;
}
*/



div.signature {
	text-align: left;
	width: 7cm;
	margin-top: 2cm;
	border-width: 0.1pt 0 0 0;
	border-style: solid;
	border-color: black;
}
div.signaturespace {
	text-align: left;
	width: 0;
	margin-top: 2cm;
	border-width: 0 0 0 0;
	border-style: none;
}

.right {
	float: right;
}
.left {
	float: left;
}
.center {
}

