<h1 class="title">FSCONS Manifesto</h1>

<p><i>This is the official Manifesto for FSCONS. The association appreciates your feedback: Please discuss and give us your input, reflections and suggestions <a href="http://wiki.fscons.org/page/FSCONS_Manifesto">in the wiki</a>.</i></p>

<h2>Purpose</h2>
<p>FSCONS exists to provide a meeting place where subjects covering society, culture and technology can be discussed and brought to life in peer discussions, without being confined to each particular subject area. It should provide both the physical and virtual space where people, organizations and governments, with interest in the three subject areas can meet in a participatory and constructive dialogue. The unique combination of topics creates a platform where cross-pollination between the areas can occur, and where new co-operations and thoughts can emerge which allows the participants to find new inspiration even from areas outside of their own.</p>

<h2>Background</h2>
<p>FSCONS currently stands for Free Society Conference and Nordic Summit. While initially founded as Free Software conference <i>Scandinavia</i>, it has evolved into a yearly conference with a much broader scope - focusing on the interaction between culture, society and technology.</p>

<p>FSCONS is organised by the non-profit association <i>Föreningen FSCONS</i>, in collaboration with other organisations, volunteers and sponsors who have varied from year to year.</p>

<h3>History</h3>

<p>The conference was first held in 2007 as a small but focused free software conference in Gothenburg. As the demand for follow-up conferences grew, one FSCONS conference has been arranged each fall/winter since. Between 2007 and 2011 the conference was hosted by <i>FFKP - The Society for Free Culture and Software</i>, becoming its own member run association in 2012.</p>

<h3>Past conferences</h3>

<p>2007 - First conference. Main themes touched upon (free/open) Software, with topics like web caching and proxying, Free Software licensing, How to write graphical applications, database clustering and optimization, and more but also touched upon social topics such as introducing affordable internet capable computers to developing countries, Digital Rights for consumers, Digital Rights in general, NGO - decision making, Free Software with a female touch.</p>

<p>2008 - The conference evolved and covered two main tracks: Free Software and Free Culture, reflecting a stronger identity of the social and cultural part. Inspiration in part by "Free Culture" by Lawrence Lessig.</p>

<p>2009 - The tracks evolved into Free Software Track and Free Society Track. Inspiration in part by "Free Software, Free Society" by Richard Stallman. Conference also included a separate track for workshops, and one track which was co-organized by other organizations.</p>

<p>2010 - Several themes including Embedded, Ethics, Infrastructure, Makers of the Future, Divide and Reconquer, Extensions (how FS can influence other movements in society), Free Software and Using Free Software to Fuel the Revolution. Some themes were co-organized with other individuals or organizations.</p>

<p>2011 - This year's conference introduced the manifesto, opening it for input from the participants. Tracks included Free software in politics, Development for embedded systems, Free desktop environments, The future of money, Human rights and digital freedoms, Universal design - Aiming for accessibility, Development in free software communities, and Building together - Manufacturing Solidarity. Keynote speakers were Richard Stallman and Christina Haralanova.</p>

<h3>Transition</h3>
<p>Based on the experience from our four first conferences, we have identified an evolution towards stressing FSCONS as an ongoing process, with a potential for expansion into local FSCONSs organized internationally. Also the subject of gradually introducing a new name for FSCONS has come up. These aspects are introduced in the following sections which try to map out the current thinking about FSCONS.</p>

<h2>Foundations</h2>
<p>In no particular order, these are the principles which form the foundations of our activities:</p>

<h3> Speakers are also participants</h3>

<p>FSCONS should generate new ideas and the interaction between peers is important. There is no hierarchy, placing a speaker at the top, nor is there a hierarchy placing the participants at the bottom. Everyone contributes to FSCONS according to their ability, and everyone is seen as a participant, even if some of the participants also happen to give presentations on important topics.</p>

<h3> We defuse perceived tensions</h3>

<p>We should defuse the relations between different stakeholders (individuals vs corporations etc) and encourage a constructive dialogue, without at the same time hindering or restricting the critical thoughts that are necessary for progress.</p>

<h3> We generate new thinking</h3>

<p>FSCONS aims to bring people together from different fields, interests and cultures, with the aim of being an enabling starting point for dialogue and new co-operations. The content should be challenge the participants' views, and encourage new thinking.  We must dare to approach and talk about new subjects. We see ourselves as a continuum of processes, dialogs and projects, rather than a one-off event once a year.</p>

<h3> We respect each other, and we are non-discriminatory and accessible</h3>

<p>We respect and recognize humans' equal value and respect fundamental rights and freedoms. We are non-discriminatory. Participants and staff are equally welcome regardless of gender, age, sexual orientation, ethnic background, disabilities, physical appearance, religion etc. We do not tolerate harassment of participants in any form (including but not limited to sexual harassment).</p>

<p>We strive to lower the barriers for participation and actively work to make sure that our activities are accessible to everyone, regardless of visual, auditory, physical, speech, cognitive, and neurological (or other) disabilities.</p>

<h3> We are open to participation</h3>

<p>We strive to be open and transparent in how we work, and what we do.</p>

<h3> Sustainability</h3>

<p>All work carried out by, at and with FSCONS should take sustainability of society and the environment into consideration.</p>

<h2>Goals</h2>

<p>This section contain a list of the goals for the conference on an overall level, a list of approaches for how to meet those goals and an indication of the ways in which we could continuously measure and evaluate our approaches in terms of meeting the stated goals.</p>

<h3>List of goals</h3>
<p>These should ideally be measurable and identifiable. See later sections for indications for how to measure the goals, and the next section for the specific approaches on how to reach these goals.</p>

<ul>
    <li> Encourage new first-time attendees, and evaluate their experience.</li>
    <li> Having a fair and reasonable, within 60/40, gender distribution among participants</li>
    <li> Being accessible and have low barriers for participation</li>
    <li> FSCONS should spark interesting discussions and co-operations</li>
    <li> FSCONS should equally address the following subject areas:
        <ul>
            <li> Society, including, but not limited to, integrity, privacy, freedom of speech, human rights and access to knowledge.</li>
            <li> Culture, including art, but also covering a broader spectrum of newer cultural expressions.</li>
            <li> Technology, including software and hardware in a broad meaning, as well as questions of infrastructure and networks.</li>
        </ul>
    </li>
    <li> Be financially self-supporting, while setting aside funds for side-events and future activities</li>
</ul>

<h3>Approaches to accomplishing the goals</h3>

<ul>
    <li> Establishing collaboration with organizations working with disabilities to gain insight into and methods to meet our accessibility goal</li>
    <li> Establishing a system of mentors from previous participants at FSCONS who can guide new attendees at the conference</li>
    <li> Lowering the barriers for participation, which will also contribute to meeting the accessibility goal.</li>
    <li> Allowing for discussions and informal talks during the social events</li>
    <li> Openings up to interesting discussions and co-operations</li>
    <li> Being open to contributions, for instance by:
        <ul>
            <li> Finding ways to allow for individuals to engage themselves in the organization and implementation of FSCONS,</li>
            <li> Allowing for corporations and companies to engage with FSCONS as sponsors to build their trademark, incorporating FSCONS in their internal training programs, meeting competent co-workers-to-be, or take part in the ongoing discussion on technology in society,</li>
            <li> Allowing for government bodies, organizations, and NGOs, to present their ongoing work at FSCONS, as well as to open for their participation in the program.</li>
        </ul>
    </li>
    <li> Setting up a team dedicated to working with sponsors of FSCONS</li>
    <li> Seek funding from sponsors, and encourage sponsors to take an active part at the events, on equal terms with other participants.</li>
    <li> Investigating what good, concrete, approaches could be established in order to meet the quantitative goal of having a reasonable and fair gender distribution among the participants.</li>
</ul>

<h3>Metrics for  the goals</h3>

<ul>
    <li> A constant review of the gender distribution over the years, going further than just counting heads. </li>
    <li> A constant review of what percentage are returning visitors.</li>
    <li> A feedback mechanism for keeping track of what projects, and what discussions continue after FSCONS.</li>
    <li> Financial follow-up and budget reviews to measure the financial goals.</li>
</ul>
