---
layout: default
title: Sponsors 
---
<h1>Sponsors</h1>
<br/>
<p>
  FSCONS sponsors and media partners will be listed here.
  If you want to sponsor us, please visit our
  <a href="sponsorships.html">sponsorship page</a> where you'll find
  terms and conditions, as well as contact information and information
  on previous sponsors.
</p>

<h3>Bronze sponsors</h3>
<div class="row">
  <div class ="col-md-4">
    <a class="thumbnail" href="http://southpole.se">
      <img src="images/southpole.png" alt="South Pole logo"/>
    </a>
  </div>
  <div class="col-md-4">
    <a class="thumbnail" href="http://www.friprogramvarusyndikatet.se/">
      <img src="images/friprogramvarusyndikatet.png" alt="Friprogramvarusyndikatet"/>
    </a>
  </div>
  <div class="col-md-4">
    <a class="thumbnail" href="http://flov.gu.se/mlt/">
      <img src="images/gu-mlt.296x100.png" alt="GU-CLT"/>
    </a>
  </div>
  <div class="col-md-4">
    <a class="thumbnail" href="http://www.ggsdata.se/">
      <img src="images/ggs-small.png" alt="ggs-data"/>
    </a>
  </div>
</div>

<h3>Media partners</h3>
<div class="row">
  <div class="col-md-3">
    <a class="thumbnail" href="http://www.linux-magazine.com/">
      <img height="60px" src="images/linux_magazine.png" alt="Linux magazine logo"/>
    </a>
  </div>

  <div class="col-md-3">
    <a class="thumbnail" href="http://www.admin-magazine.com/">
      <img height="60px" src="images/adminmag.png" alt="Admin magazine logo">
    </a>
  </div>

  <div class="col-md-3">
    <a class="thumbnail" href="http://www.linuxjournal.com/">
      <img height="60px" src="images/ljlogo.jpg" alt="Linux Journal logo"/>
    </a>
  </div>
</div>
