@import url('https://fonts.googleapis.com/css?family=Anton&v1');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular,bold&v1');
@import url('https://fonts.googleapis.com/css?family=VT323&v1');
/* -*- coding: utf-8 -*-
 * Copyright (C) 2011 Grégoire Détrez, Patrik Willard
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
/* ***************************************************************************
 * Font import
 * NB: in css @import statements have to be included at the very top of the
 * file otherwise (some) browsers won't see them.
 */
/* ***************************************************************************
 ** Reset **/
html, * {
  margin: 0;
  padding: 0; }

/* ***************************************************************************
 ** Typographic grid
 *
 * For this design, we use a bse font size of 16px
 * with a base grid of 20px (1.25em).
 */
/* 20px */
body {
  font-size: 16px;
  line-height: 20px; }

/* To prevent <sup/> and <b/> elements from disturbing the base grid,
 * we give them a smaller line height
 */
sup {
  line-height: 0; }

b {
  font-size: inherit;
  line-height: 0; }

/* Uncomment to display the typographic grid
.wrapper {
    background-image: url("tgrid.png");
    background-position: left 16px;
}
/**/
/* ***************************************************************************
 ** Font selection
 * Including size colors, weigth...
 */
h1 {
  font-family: Arial, Sans-serif; }

h2 {
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  font-size: 2.5em;
  /* 40px */
  line-height: 1em;
  /* 40px */ }

h3 {
  border-bottom: thin black solid;
  margin-top: -1px;
  /* compenate for the border height */
  font-size: 1.25em;
  /* 20px */
  line-height: 1em;
  /* 20px */
  margin-bottom: 1em;
  /* 20px */ }

.subtitle {
  font-weight: lighter;
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif; }

dt {
  font-weight: bold; }

/* ***************************************************************************
 ** Vertical rythm
 *
 * Here we precisely control the vertical spacing between elements.
 */
/** Default margin-bottom
 *
 * in order to respect the typographic grid, all negative space between 
 * element has to be a multiple of the line height.
 * Default is 1 line (1.25em = 20px) spacing.
 **/
ul, p, address, dl {
  display: block;
  margin-bottom: 20px; }

.session dd, .session_info dd {
  margin-bottom: 0; }

/** Negative space after title.
 *
 * One line of negative space after the page title.
 * Handle both the case with a byline and the case without one.
 **/
.subtitle + div, h2 + div,
.subtitle + form, h2 + form,
.subtitle + p, h2 + p {
  margin-top: 20px; }

/* For some elements, a margin-top is also necessary */
ul {
  margin-top: 20px; }

/* **************************************************************************
 ** Links & text styles
 *
 */
.bold {
  font-weigth: bold; }

/* **************************************************************************
 ** HTML content
 *
 * Here we style manualy entered html content
 */
.content h1, .content h2, .content h3, .content h4 {
  font-family: inherit;
  margin-top: 20px; }

.content h3 {
  font-size: 1.5em;
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 19px; }

.content h4 {
  font-size: 1.25em;
  line-height: 20px; }

.content h5 {
  font-size: 1em;
  line-height: 20px;
  border: none;
  margin: 20px 0 20px; }

.content h6 {
  font-size: 1em;
  line-height: 20px;
  font-weight: normal;
  text-decoration: underline; }

.infobox h3, .infobox h4, .infobox h5, .infobox h5 {
  font-size: 1em;
  line-height: 20px;
  border: none;
  margin: 1.25em  0; }

.content p, .content ul {
  margin-top: 20px; }

.content ul p, .content ol p, .content dl p {
  margin: 0; }

.content ul, ol {
  margin: 20px 0 0 2em; }

.content blockquote {
  margin: 20px 0;
  padding-left: 1em;
  border-left: thin solid #ccc; }

.content hr {
  height: 0px;
  margin: 0 0 18px; }

/* **************************************************************************
 ** Markdown syntax
 *
 * Here we style the output of markdown formated fields.
 */
/** We want the headers in a markdown field to blend in as much as possible.
 * So no special fonts.
 */
.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
  font-family: inherit; }

.markdown h1 {
  font-size: 1.5em;
  line-height: 40px; }

.markdown h2 {
  font-size: 1.25em;
  line-height: 1em; }

.markdown h3 {
  font-size: 1em;
  line-height: 1.25em;
  border: none;
  margin-bottom: 0; }

.markdown h4 {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: normal;
  text-decoration: underline; }

.markdown ul, ol {
  margin: 0 0 0 2em; }

.markdown ul p, ol p {
  margin: 0; }

.markdown blockquote {
  margin: 1.25em 0;
  padding-left: 1em;
  border-left: thin solid #ccc; }

.markdown hr {
  height: 0px;
  margin: 0 0 18px; }

.markdown img {
  max-width: 100%; }

.coming-soon {
  font-family: 'Yanone Kaffeesatz', arial, Sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 10em;
  line-height: 1em; }
